absl-py
audioread
certifi
cffi
charset-normalizer
contourpy
cycler
decorator
filelock
fonttools
fsspec
future
grpcio
idna
Jinja2
joblib
kiwisolver
lazy_loader
librosa==0.10.2.post1
llvmlite
loguru
Markdown
MarkupSafe
matplotlib
mir-eval
mpmath
msgpack
networkx
numba
numpy==1.26.4
packaging
pandas
pillow
platformdirs
pooch
protobuf
ptflops
pycparser
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
seaborn
six
soundfile
soxr
sympy
tensorboard
tensorboard-data-server
thop
threadpoolctl
torch
torchaudio
torchinfo
tqdm
triton
typing_extensions
tzdata
urllib3
Werkzeug